h1 {
    font-size: 2rem;
    color: blue;
}

h2 {
    font-size: 1.5rem;
    color: rgb(56, 70, 182);
}

h3 {
    font-size: 1.2rem;
    text-decoration: underline;
}

.politician {
    display: inline-block;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border-style: outset;
    border-color: rgb(150, 197, 197);
    border-radius: 1.2rem;
    background-color: lightgrey;
}

.corporation {
    display: inline-block;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border-style: outset;
    border-color: rgb(150, 197, 197);
    border-radius: 1.2rem;
    background-color: lightgrey;
}

.corporationDonation {
    display: inline-block;
    width: 250px;
    height: 300px;
    margin: 10px;
    padding: 5px;
    border: 2px dashed dodgerblue;
    box-sizing: border-box;
}

.pacDonation {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 5px;
    border: 2px dodgerblue;
    border-style: dashed;
    box-sizing:border-box;
}

.politicians--allInfo {
    display: grid;
    grid: auto / 40vw 40vw;
    gap: 50px;
}

.politician--allInfo {
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 10px lightseagreen;
    background-color: lightgoldenrodyellow;
}